/* locker-room.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Set relative positioning for absolute children */
}

.image-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio */
}

/* Main background image (locker-room) */
.page-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.clickable-base {
    position: absolute;
    background: transparent; /* Ensure the background is transparent */
    cursor: pointer; /* Change cursor to indicate it's clickable */
}

.hover {
    position: absolute;
    display: none;
}

.card {
    position: absolute;
    width: 100%;
    height: auto;
    display: none;
}

.player-card {
    position: relative;
    width: 100%;
    height: auto;
}

.card-clickable-base {
    position: absolute;
    background: transparent; /* Ensure the background is transparent */
    z-index: 50; /* Keep it above the image */
}

/* Clickable area styles */
.card-locker1-area {
    top: 13%;  /* Adjust this according to the position of the locker */
    left: 7%; /* Adjust this according to the position of the locker */
    width: 85%; /* Adjust the width of the clickable area */
    height: 74%; /* Adjust the height of the clickable area */
    /* outline: 2px solid red; */
    display: none;
    user-select: none; /* Prevent text selection */
    -webkit-tap-highlight-color: transparent; /* Remove mobile click highlight */
}

.button {
    position: absolute;
    color: white;
    height: auto; /* Adjust the height of the clickable area */
    user-select: none; /* Prevent text selection */
    -webkit-tap-highlight-color: transparent; /* Remove mobile click highlight */
}

.video {
    position: absolute; /* Position it absolutely within the container */
    top: 50%; /* Center it vertically */
    left: 50%; /* Center it horizontally */
    transform: translate(-50%, -50%); /* Proper centering */
    z-index: 30; /* Make sure it's on top of everything */
    display: none;
}

@keyframes pulseShadow {
    0% {
        filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
    }
    50% {
        filter: drop-shadow(0 0 15px rgba(255, 255, 255, 1));
    }
    100% {
        filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
    }
}

.pulse-svg {
    animation: pulseShadow 1.5s infinite ease-in-out;
}

.card-bg {
    background-image: url('../assets/card-bg.png'); /* Set the background image */
    background-size: cover; /* Ensure the background covers the entire card */
    background-position: center; /* Center the background image */
}

.scrollable-container {
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    padding: 4% 2% 5% 5%; /* Optional padding inside the container */
    box-sizing: border-box; /* Ensure padding is included in the size */
    position: absolute;
    z-index: 41;
}

.scrollable-content {
    overflow-y: scroll; /* Enable vertical scrolling */
    max-height: 100%; /* Make sure content takes up full height but can scroll */
    padding: 0% 3% 0% 0%;
}

.card-text {
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black; /* Text color */
    font-size: 1.5vw;
}

.text-red {
    color: #CE0526; /* Text color */
    font-weight: 700;
}

.card-title {
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5vw;
    text-transform: uppercase;
}

/* POSITIONS */
.back {
    top: 4%;  /* Adjust this according to the position of the locker */
    left: 93%; /* Adjust this according to the position of the locker */
    width: 3.5%; /* Adjust the width of the clickable area */
    height: auto; /* Adjust the height of the clickable area */
    z-index: 31;
}
.left {
    top: 60%;  /* Adjust this according to the position of the locker */
    left: 0%; /* Adjust this according to the position of the locker */
    width: 8%; /* Adjust the width of the clickable area */
    height: auto; /* Adjust the height of the clickable area */
    z-index: 31;
}

.right {
    top: 60%;  /* Adjust this according to the position of the locker */
    right: 0%; /* Adjust this according to the position of the locker */
    width: 8%; /* Adjust the width of the clickable area */
    height: auto; /* Adjust the height of the clickable area */
    z-index: 31;
}

.locker1 {
    top: 37%;  /* Adjust this according to the position of the locker */
    left: 50%; /* Adjust this according to the position of the locker */
    width: 9%; /* Adjust the width of the clickable area */
    height: 30%; /* Adjust the height of the clickable area */
    z-index: 20;
}

.helmet {
    top: 83%;  /* Adjust this according to the position of the locker */
    left: 45%; /* Adjust this according to the position of the locker */
    width: 9%; /* Adjust the width of the clickable area */
    height: 15%; /* Adjust the height of the clickable area */
    z-index: 31;
}

.hover-locker1 {
    top: 24%;  /* Adjust this according to the position of the locker */
    left: 57%; /* Adjust this according to the position of the locker */
    width: 17%;
    z-index: 21;
}

.hover-helmet {
    top: 67%;  /* Adjust this according to the position of the locker */
    left: 52%; /* Adjust this according to the position of the locker */
    width: 17%;
    z-index: 21;
}

.helmet-card {
    width: 50%;
    height: auto;
    z-index: 40;
}

.locker1-cards {
    width: 70%;
    height: auto;
    z-index: 40;
    column-gap: 5%;
}

/* Z INDEXES */
.locker-room {
    z-index: 0;
}

.darkened {
    filter: brightness(35%);
}

#scrollbar3::-webkit-scrollbar {
    width: 24px;
}

#scrollbar3::-webkit-scrollbar-track {
    background-color: #AAB3D4;
    border: 1px solid #cacaca;
}

#scrollbar3::-webkit-scrollbar-thumb {
    background-color: #01226D;
}